* {
    margin: 0;
    padding: 4px;
    
   
}
body {
    max-width: 30%;
    margin: 0 auto;
    padding-top: 170px;
   
    
}
h1 {
    color: green;
    
}
p {
    margin-left: 150px;
}
input {
    width: 300px;
    height: 20px;
    border-radius: 4px;
}
input[type="button"] {
    width: 80px;
    border-radius: 15px;
    height: 35px;
} 
.need {
   margin-right: 10px;
    
}
a {
    color: green;
    text-decoration: none;
}
a:hover {
    color: rgb(214, 201, 13);
}